@import "../../shared/styles/variables.scss";
@import "../../shared/styles/mixin.scss";

.recommendations {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include adaptiveWidth;

  @media screen and (min-width: $tabletWidth) {
    flex-direction: row;
  }
}
