@import "../../shared/styles/variables.scss";

.recommendations {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: $tabletWidth) {
    width: $tabletWidth - 10px;
    flex-direction: row;
  }

  @media screen and (min-width: $laptopWidth) {
    width: $laptopWidth - 10px;
  }

  @media screen and (min-width: $desktopWidth) {
    width: $desktopWidth - 10px;
  }
}
