@import "../../styles/variables.scss";

.button {
  padding: 14px 20px;
  background-color: rgb(55, 50, 50, 0.7);
  border: none;
  color: $baseFontColor;

  &:focus,
  &:hover {
    opacity: 0.7;
  }
  &:active {
    background-color: rgb(111, 111, 111);
  }
}

.active {
  background-color: rgb(111, 111, 111);
}
