@import "../../styles/variables.scss";

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media screen and (min-width: $tabletWidth) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 758px;
    gap: 20px;
  }
  @media screen and (min-width: $desktopWidth) {
    grid-template-columns: repeat(5, 1fr);
    gap: 2%;
    width: 1190px;
  }
}
