@import "../../shared/styles/variables.scss";
@import "../../shared/styles/mixin.scss";

.block {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;

  > img {
    width: 100%;
  }

  width: 100%;

  @include adaptiveWidth;

  @media screen and (min-width: $laptopWidth) {
    flex-direction: row;
  }
}
